@import "tailwindcss";
::-webkit-scrollbar {
  width: 2px; /* 👈 make this as thin as you want */
  height: 2px;
}

/* Track background */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb (the scroll handle) */
::-webkit-scrollbar-thumb {
  background-color: #888;    /* or any color you want */
  border-radius: 12px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


